.header{
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 20px;
}
.menu{
    background-color: lightgoldenrodyellow;
    padding: 10px;
    text-align: center;

}

.menu a{
    background-color: darkcyan;
    padding: 10px 20px;
    color: white;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;

}
.container{
    background-color: lightyellow;
    max-width: 900px;
    margin: 10px auto;
}

hr{

    border: 1px solid grey;
    margin: 20px 0;
}
.section{
    background-color: lightsteelblue;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;

}
.footer{
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.internal-links a{
    background-color: aquamarine;
    padding: 10px;
    color: cadetblue;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    border-style:outset;
}
.contact-info{
    background-color: lightgrey;
    border-left: 3px solid lightblue;
    
}
.section h2{border-bottom: 4px solid lightblue;}
body {background-color: lightgoldenrodyellow;}